openapi: 3.0.1
info:
  title: core-common-product-mgmt
  description: Product Management Core Application
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/products
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: Product Category
    description: APIs for managing product categories in the product management platform
  - name: Product Documentation Requirements
    description: APIs for managing documentation requirements for products during the contracting/opening phase
  - name: Product Documentation
    description: APIs for managing documentation (manuals, guides, etc.) associated with a specific product
  - name: Product Relationship
    description: APIs for managing relationships between products
  - name: Product Localization
    description: APIs for managing localized data (translations, region-specific info) for a product
  - name: Product Configuration
    description: APIs for managing key-value configuration data for products
  - name: Product
    description: APIs for managing core product entities in the product management platform
  - name: Product Version
    description: APIs for managing different versions of a product
paths:
  /api/v1/products/{productId}:
    get:
      tags:
        - Product
      summary: Get product by ID
      description: Retrieve a specific product by its unique identifier
      operationId: getProductById
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '404':
          description: Product not found
    put:
      tags:
        - Product
      summary: Update product
      description: Update the information of an existing product by its unique identifier
      operationId: updateProduct
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDTO'
        required: true
      responses:
        '200':
          description: Product successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '400':
          description: Invalid product data
        '404':
          description: Product not found
    delete:
      tags:
        - Product
      summary: Delete product
      description: Remove an existing product by its unique identifier
      operationId: deleteProduct
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product successfully deleted
        '404':
          description: Product not found
  /api/v1/products/{productId}/versions/{versionId}:
    get:
      tags:
        - Product Version
      summary: Get product version by ID
      description: Retrieve a specific product version by its unique identifier
      operationId: getProductVersionById
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: Unique identifier of the product version
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product version
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductVersionDTO'
        '404':
          description: Product version not found
    put:
      tags:
        - Product Version
      summary: Update product version
      description: Update an existing product version record
      operationId: updateProductVersion
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: Unique identifier of the product version
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVersionDTO'
        required: true
      responses:
        '200':
          description: Product version successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductVersionDTO'
        '400':
          description: Invalid version data
        '404':
          description: Product version not found
    delete:
      tags:
        - Product Version
      summary: Delete product version
      description: Remove an existing product version record by its unique identifier
      operationId: deleteProductVersion
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: versionId
          in: path
          description: Unique identifier of the product version
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product version successfully deleted
        '404':
          description: Product version not found
  /api/v1/products/{productId}/relationships/{relationshipId}:
    get:
      tags:
        - Product Relationship
      summary: Get product relationship by ID
      description: Retrieve a specific relationship record by its unique identifier
      operationId: getRelationshipById
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: relationshipId
          in: path
          description: Unique identifier of the relationship record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product relationship
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductRelationshipDTO'
        '404':
          description: Product relationship not found
    put:
      tags:
        - Product Relationship
      summary: Update product relationship
      description: Update an existing product relationship record
      operationId: updateRelationship
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: relationshipId
          in: path
          description: Unique identifier of the relationship record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRelationshipDTO'
        required: true
      responses:
        '200':
          description: Product relationship successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductRelationshipDTO'
        '400':
          description: Invalid relationship data
        '404':
          description: Product relationship not found
    delete:
      tags:
        - Product Relationship
      summary: Delete product relationship
      description: Remove an existing product relationship record by its unique identifier
      operationId: deleteRelationship
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: relationshipId
          in: path
          description: Unique identifier of the relationship record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product relationship successfully deleted
        '404':
          description: Product relationship not found
  /api/v1/products/{productId}/localizations/{localizationId}:
    get:
      tags:
        - Product Localization
      summary: Get product localization by ID
      description: Retrieve a specific localization record by its unique identifier
      operationId: getLocalizationById
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product localization
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductLocalizationDTO'
        '404':
          description: Product localization not found
    put:
      tags:
        - Product Localization
      summary: Update product localization
      description: Update an existing product localization record
      operationId: updateLocalization
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLocalizationDTO'
        required: true
      responses:
        '200':
          description: Product localization successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductLocalizationDTO'
        '400':
          description: Invalid localization data
        '404':
          description: Product localization not found
    delete:
      tags:
        - Product Localization
      summary: Delete product localization
      description: Remove an existing localization record from the product
      operationId: deleteLocalization
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: localizationId
          in: path
          description: Unique identifier of the localization record
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product localization successfully deleted
        '404':
          description: Product localization not found
  /api/v1/products/{productId}/documentation/{docId}:
    get:
      tags:
        - Product Documentation
      summary: Get product documentation by ID
      description: Retrieve a specific documentation item by its unique identifier
      operationId: getDocumentationById
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          description: Unique identifier of the documentation item
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product documentation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDocumentationDTO'
        '404':
          description: Product documentation not found
    put:
      tags:
        - Product Documentation
      summary: Update product documentation
      description: Update an existing documentation item for a specific product
      operationId: updateDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          description: Unique identifier of the documentation item
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDocumentationDTO'
        required: true
      responses:
        '200':
          description: Product documentation successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDocumentationDTO'
        '400':
          description: Invalid documentation data
        '404':
          description: Product documentation not found
    delete:
      tags:
        - Product Documentation
      summary: Delete product documentation
      description: Remove an existing product documentation item by its unique identifier
      operationId: deleteDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: docId
          in: path
          description: Unique identifier of the documentation item
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product documentation successfully deleted
        '404':
          description: Product documentation not found
  /api/v1/products/{productId}/documentation-requirements/{requirementId}:
    get:
      tags:
        - Product Documentation Requirements
      summary: Get product documentation requirement by ID
      description: Retrieve a specific documentation requirement by its unique identifier
      operationId: getDocumentationRequirementById
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: requirementId
          in: path
          description: Unique identifier of the documentation requirement
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product documentation requirement
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        '404':
          description: Product documentation requirement not found
    put:
      tags:
        - Product Documentation Requirements
      summary: Update product documentation requirement
      description: Update an existing documentation requirement for a specific product
      operationId: updateDocumentationRequirement
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: requirementId
          in: path
          description: Unique identifier of the documentation requirement
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        required: true
      responses:
        '200':
          description: Product documentation requirement successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        '400':
          description: Invalid documentation requirement data
        '404':
          description: Product documentation requirement not found
    delete:
      tags:
        - Product Documentation Requirements
      summary: Delete product documentation requirement
      description: Remove an existing product documentation requirement by its unique identifier
      operationId: deleteDocumentationRequirement
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: requirementId
          in: path
          description: Unique identifier of the documentation requirement
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product documentation requirement successfully deleted
        '404':
          description: Product documentation requirement not found
  /api/v1/products/{productId}/configurations/{configId}:
    get:
      tags:
        - Product Configuration
      summary: Get product configuration by ID
      description: Retrieve a specific product configuration using its unique identifier
      operationId: getConfigurationById
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: Unique identifier of the product configuration
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product configuration
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductConfigurationDTO'
        '404':
          description: Product configuration not found
    put:
      tags:
        - Product Configuration
      summary: Update product configuration
      description: Update an existing configuration record associated with the specified product
      operationId: updateConfiguration
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: Unique identifier of the product configuration
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurationDTO'
        required: true
      responses:
        '200':
          description: Product configuration successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductConfigurationDTO'
        '400':
          description: Invalid configuration data
        '404':
          description: Product configuration not found
    delete:
      tags:
        - Product Configuration
      summary: Delete product configuration
      description: Remove an existing product configuration record by its unique identifier
      operationId: deleteConfiguration
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: configId
          in: path
          description: Unique identifier of the product configuration
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product configuration successfully deleted
        '404':
          description: Product configuration not found
  /api/v1/categories/{categoryId}:
    get:
      tags:
        - Product Category
      summary: Get product category by ID
      description: Retrieve a specific product category by its unique identifier
      operationId: getCategoryById
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product category
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '404':
          description: Product category not found
    put:
      tags:
        - Product Category
      summary: Update product category
      description: Update the information of an existing product category by its unique identifier
      operationId: updateCategory
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryDTO'
        required: true
      responses:
        '200':
          description: Product category successfully updated
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '400':
          description: Invalid category data
        '404':
          description: Product category not found
    delete:
      tags:
        - Product Category
      summary: Delete product category
      description: Remove an existing product category by its unique identifier
      operationId: deleteCategory
      parameters:
        - name: categoryId
          in: path
          description: Unique identifier of the product category
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: Product category successfully deleted
        '404':
          description: Product category not found
  /api/v1/products:
    post:
      tags:
        - Product
      summary: Create product
      description: Create a new product with its associated details
      operationId: createProduct
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDTO'
        required: true
      responses:
        '201':
          description: Product successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDTO'
        '400':
          description: Invalid product data
  /api/v1/products/{productId}/versions:
    post:
      tags:
        - Product Version
      summary: Create product version
      description: Create a new product version for a specific product
      operationId: createProductVersion
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductVersionDTO'
        required: true
      responses:
        '201':
          description: Product version successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductVersionDTO'
        '400':
          description: Invalid version data
        '404':
          description: Product not found
  /api/v1/products/{productId}/versions/filter:
    post:
      tags:
        - Product Version
      summary: Filter product versions
      description: Retrieve a paginated list of product versions based on filtering criteria
      operationId: filterProductVersions
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProductVersionDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved filtered versions
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Product not found
  /api/v1/products/{productId}/relationships:
    post:
      tags:
        - Product Relationship
      summary: Create product relationship
      description: Create a new relationship record for a specific product
      operationId: createRelationship
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRelationshipDTO'
        required: true
      responses:
        '201':
          description: Product relationship successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductRelationshipDTO'
        '400':
          description: Invalid relationship data
        '404':
          description: Product not found
  /api/v1/products/{productId}/relationships/filter:
    post:
      tags:
        - Product Relationship
      summary: Filter product relationships
      description: Retrieve a paginated list of product relationships based on filtering criteria
      operationId: filterRelationships
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProductRelationshipDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved filtered relationships
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Product not found
  /api/v1/products/{productId}/localizations:
    post:
      tags:
        - Product Localization
      summary: Create product localization
      description: Create a new localization record associated with a specific product
      operationId: createLocalization
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLocalizationDTO'
        required: true
      responses:
        '201':
          description: Product localization successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductLocalizationDTO'
        '400':
          description: Invalid localization data
        '404':
          description: Product not found
  /api/v1/products/{productId}/localizations/filter:
    post:
      tags:
        - Product Localization
      summary: Filter product localizations
      description: Retrieve a paginated list of localizations for a product based on filtering criteria
      operationId: filterLocalizations
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProductLocalizationDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved filtered localizations
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Product not found
  /api/v1/products/{productId}/documentation:
    post:
      tags:
        - Product Documentation
      summary: Create product documentation
      description: Create a new documentation item for a specific product
      operationId: createDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDocumentationDTO'
        required: true
      responses:
        '201':
          description: Product documentation successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDocumentationDTO'
        '400':
          description: Invalid documentation data
        '404':
          description: Product not found
  /api/v1/products/{productId}/documentation/filter:
    post:
      tags:
        - Product Documentation
      summary: Filter product documentation
      description: Retrieve a paginated list of documentation items for a product based on filtering criteria
      operationId: filterDocumentation
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProductDocumentationDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved filtered documentation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Product not found
  /api/v1/products/{productId}/documentation-requirements:
    post:
      tags:
        - Product Documentation Requirements
      summary: Create product documentation requirement
      description: Create a new documentation requirement for a specific product
      operationId: createDocumentationRequirement
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        required: true
      responses:
        '201':
          description: Product documentation requirement successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        '400':
          description: Invalid documentation requirement data
        '404':
          description: Product not found
  /api/v1/products/{productId}/documentation-requirements/filter:
    post:
      tags:
        - Product Documentation Requirements
      summary: Filter product documentation requirements
      description: Retrieve a paginated list of documentation requirements for a product based on filtering criteria
      operationId: filterDocumentationRequirements
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProductDocumentationRequirementDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved filtered documentation requirements
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Product not found
  /api/v1/products/{productId}/configurations:
    post:
      tags:
        - Product Configuration
      summary: Create product configuration
      description: Create a new configuration for a specific product
      operationId: createConfiguration
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductConfigurationDTO'
        required: true
      responses:
        '201':
          description: Product configuration successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductConfigurationDTO'
        '400':
          description: Invalid configuration data
        '404':
          description: Product not found
  /api/v1/products/{productId}/configurations/filter:
    post:
      tags:
        - Product Configuration
      summary: Filter product configurations
      description: Retrieve a paginated list of configurations for a product based on filtering criteria
      operationId: filterConfigurations
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProductConfigurationDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved filtered configurations
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
        '404':
          description: Product not found
  /api/v1/products/filter:
    post:
      tags:
        - Product
      summary: Filter products
      description: Retrieve a paginated list of products based on filtering criteria
      operationId: filterProducts
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProductDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved filtered products
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
  /api/v1/categories:
    post:
      tags:
        - Product Category
      summary: Create product category
      description: Create a new product category with its associated attributes
      operationId: createCategory
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCategoryDTO'
        required: true
      responses:
        '201':
          description: Product category successfully created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductCategoryDTO'
        '400':
          description: Invalid category data
  /api/v1/categories/filter:
    post:
      tags:
        - Product Category
      summary: Filter product categories
      description: Retrieve a paginated list of root product categories based on filtering criteria
      operationId: filterCategories
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterRequestProductCategoryDTO'
        required: true
      responses:
        '200':
          description: Successfully retrieved filtered categories
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        '400':
          description: Invalid filter request
  /api/v1/products/{productId}/documentation-requirements/mandatory:
    get:
      tags:
        - Product Documentation Requirements
      summary: Get mandatory product documentation requirements
      description: Retrieve all mandatory documentation requirements for a specific product
      operationId: getMandatoryDocumentationRequirements
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the mandatory documentation requirements
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        '404':
          description: Product not found
  /api/v1/products/{productId}/documentation-requirements/by-type/{docType}:
    get:
      tags:
        - Product Documentation Requirements
      summary: Get product documentation requirement by type
      description: Retrieve a specific documentation requirement by its document type
      operationId: getDocumentationRequirementByType
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: docType
          in: path
          description: Type of document
          required: true
          schema:
            type: string
            enum:
              - IDENTIFICATION
              - TAX_IDENTIFICATION
              - PROOF_OF_ADDRESS
              - INCOME_VERIFICATION
              - BANK_STATEMENTS
              - POWER_OF_ATTORNEY
              - BUSINESS_REGISTRATION
              - ARTICLES_OF_INCORPORATION
              - COMPANY_BYLAWS
              - SIGNED_CONTRACT
              - REGULATORY_COMPLIANCE
              - CREDIT_REPORT
              - INSURANCE_POLICY
              - OTHER
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product documentation requirement
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        '404':
          description: Product documentation requirement not found
  /api/v1/products/{productId}/configurations/by-type/{configType}:
    get:
      tags:
        - Product Configuration
      summary: Get product configurations by type
      description: Retrieve all configurations of a specific type for the specified product
      operationId: getConfigurationsByType
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: configType
          in: path
          description: Configuration type
          required: true
          schema:
            type: string
            enum:
              - PRICING
              - LIMITS
              - FEATURES
              - CUSTOM
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product configurations
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductConfigurationDTO'
        '404':
          description: Product not found
  /api/v1/products/{productId}/configurations/by-key/{configKey}:
    get:
      tags:
        - Product Configuration
      summary: Get product configuration by key
      description: Retrieve a specific product configuration using its key
      operationId: getConfigurationByKey
      parameters:
        - name: productId
          in: path
          description: Unique identifier of the product
          required: true
          schema:
            type: string
            format: uuid
        - name: configKey
          in: path
          description: Configuration key
          required: true
          schema:
            type: string
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the product configuration
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductConfigurationDTO'
        '404':
          description: Product configuration not found
components:
  schemas:
    ProductDTO:
      required:
        - tenantId
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
          readOnly: true
        dateUpdated:
          type: string
          format: date-time
          readOnly: true
        productId:
          type: string
          format: uuid
          readOnly: true
        tenantId:
          type: string
          description: Unique identifier of the tenant instance this product belongs to
          format: uuid
        productCategoryId:
          type: string
          format: uuid
        productType:
          type: string
          enum:
            - FINANCIAL
            - NON_FINANCIAL
        productName:
          type: string
        productCode:
          type: string
        productDescription:
          type: string
        productStatus:
          type: string
          enum:
            - PROPOSED
            - ACTIVE
            - RETIRED
            - DRAFT
        launchDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
    ProductVersionDTO:
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
          readOnly: true
        dateUpdated:
          type: string
          format: date-time
          readOnly: true
        productVersionId:
          type: string
          format: uuid
          readOnly: true
        productId:
          type: string
          format: uuid
        versionNumber:
          type: integer
          format: int64
        versionDescription:
          type: string
        effectiveDate:
          type: string
          format: date-time
    ProductRelationshipDTO:
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
          readOnly: true
        dateUpdated:
          type: string
          format: date-time
          readOnly: true
        productRelationshipId:
          type: string
          format: uuid
          readOnly: true
        productId:
          type: string
          format: uuid
        relatedProductId:
          type: string
          format: uuid
        relationshipType:
          type: string
          enum:
            - PRE_REQUISITE
            - COMPLIMENTARY
            - UPGRADE
            - CROSS_SELL
        description:
          type: string
    ProductLocalizationDTO:
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
          readOnly: true
        dateUpdated:
          type: string
          format: date-time
          readOnly: true
        productLocalizationId:
          type: string
          format: uuid
          readOnly: true
        productId:
          type: string
          format: uuid
        languageCode:
          type: string
        localizedName:
          type: string
        localizedDescription:
          type: string
    ProductDocumentationDTO:
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
          readOnly: true
        dateUpdated:
          type: string
          format: date-time
          readOnly: true
        productDocumentationId:
          type: string
          format: uuid
          readOnly: true
        productId:
          type: string
          format: uuid
        docType:
          type: string
          enum:
            - TNC
            - BROCHURE
            - POLICY_DOC
        documentManagerRef:
          type: integer
          format: int64
        dateAdded:
          type: string
          format: date-time
    ProductDocumentationRequirementDTO:
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
          readOnly: true
        dateUpdated:
          type: string
          format: date-time
          readOnly: true
        productDocRequirementId:
          type: string
          format: uuid
          readOnly: true
        productId:
          type: string
          format: uuid
        docType:
          type: string
          enum:
            - IDENTIFICATION
            - TAX_IDENTIFICATION
            - PROOF_OF_ADDRESS
            - INCOME_VERIFICATION
            - BANK_STATEMENTS
            - POWER_OF_ATTORNEY
            - BUSINESS_REGISTRATION
            - ARTICLES_OF_INCORPORATION
            - COMPANY_BYLAWS
            - SIGNED_CONTRACT
            - REGULATORY_COMPLIANCE
            - CREDIT_REPORT
            - INSURANCE_POLICY
            - OTHER
        isMandatory:
          type: boolean
        description:
          type: string
    ProductConfigurationDTO:
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
          readOnly: true
        dateUpdated:
          type: string
          format: date-time
          readOnly: true
        productConfigurationId:
          type: string
          format: uuid
          readOnly: true
        productId:
          type: string
          format: uuid
        configType:
          type: string
          enum:
            - PRICING
            - LIMITS
            - FEATURES
            - CUSTOM
        configKey:
          type: string
        configValue:
          type: string
    ProductCategoryDTO:
      type: object
      properties:
        dateCreated:
          type: string
          format: date-time
          readOnly: true
        dateUpdated:
          type: string
          format: date-time
          readOnly: true
        productCategoryId:
          type: string
          format: uuid
          readOnly: true
        categoryName:
          type: string
        categoryDescription:
          type: string
        parentCategoryId:
          type: string
          format: uuid
        level:
          type: integer
          format: int32
          readOnly: true
    FilterOptions:
      type: object
      properties:
        caseInsensitiveStrings:
          type: boolean
        includeInheritedFields:
          type: boolean
      description: Filter options for customizing filter behavior
    FilterRequestProductVersionDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProductVersionDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Filter criteria for versions
    PaginationRequest:
      type: object
      properties:
        pageNumber:
          type: integer
          description: The zero-based page number to retrieve.
          format: int32
          example: 0
          default: 0
        pageSize:
          type: integer
          description: The number of items per page.
          format: int32
          example: 10
          default: 10
        sortBy:
          type: string
          description: The field to sort the results by.
          example: name
        sortDirection:
          type: string
          description: The direction of sorting, either ASC or DESC.
          example: DESC
          default: DESC
      description: Represents a pagination request for retrieving paginated results, including page number, size, sort field, and direction.
    RangeFilter:
      type: object
      properties:
        ranges:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RangeObject'
          description: Map of field names to their range criteria
      description: Represents range filters for numeric fields
    RangeObject:
      type: object
      properties:
        from:
          type: object
          description: Start value of the range
        to:
          type: object
          description: End value of the range
      description: Represents a range with from and to values
    PaginationResponse:
      type: object
      properties:
        content:
          type: array
          description: The list of items for the current page.
          items:
            type: object
            description: The list of items for the current page.
        totalElements:
          type: integer
          description: The total number of elements across all pages.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages based on the data size and page size.
          format: int32
        currentPage:
          type: integer
          description: The current page number, typically zero-based.
          format: int32
      description: Represents a paginated response containing a list of items and pagination metadata.
    FilterRequestProductRelationshipDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProductRelationshipDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Filter criteria for relationships
    FilterRequestProductLocalizationDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProductLocalizationDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Filter criteria for localizations
    FilterRequestProductDocumentationDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProductDocumentationDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Filter criteria for documentation
    FilterRequestProductDocumentationRequirementDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProductDocumentationRequirementDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Filter criteria for documentation requirements
    FilterRequestProductConfigurationDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProductConfigurationDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Filter criteria for configurations
    FilterRequestProductDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProductDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Filter criteria for products
    FilterRequestProductCategoryDTO:
      required:
        - pagination
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/ProductCategoryDTO'
        rangeFilters:
          $ref: '#/components/schemas/RangeFilter'
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        options:
          $ref: '#/components/schemas/FilterOptions'
      description: Filter criteria for categories